<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
</head>
<body>
    <h1>California Housing Data Visualizations</h1>
    <a href="/visual/scatter">Scatter Plot</a>
    <br>
    <a href="/visual/heatmap">Heatmap</a>
    <br>
    <a href="/visual/histogram">Histogram</a>
    <br>
    <a href="/visual/boxplot">Boxplot</a>
    <br>
    <a href="/visual/piechart">Pie Chart</a>
    <br>
    <a href="/visual/scatter_location">Scatter Plot by Location</a>
    <br>
    <a href="/visual/pairplot">Pairplot</a>
    <br>
    <a href="/package/static">Back to Home</a>
</body>
</html>
